In [1]:
import pandas as pd
from sklearn import datasets
import numpy as np

In [31]:
#titanic_data = np.loadtxt(r"C:\Users\HP\Coding_Ninjas_ML\DataSets\for_logistic_reg_project_training_titanic_x_y_train.csv", delimiter=",")
titanic_data = pd.read_csv(r"C:\Users\HP\Coding_Ninjas_ML\DataSets\for_logistic_reg_project_training_titanic_x_y_train.csv")

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [25]:
titanic_data.drop(["Cabin"], inplace=True, axis=1)
titanic_data.drop(["Ticket"], inplace=True, axis=1)

AttributeError: drop

In [4]:
titanic_data.Embarked.fillna(value='S', inplace=True)

In [5]:
survived_data = titanic_data[titanic_data.Survived == 1]

In [6]:
not_survived_data = titanic_data[titanic_data.Survived == 0]

In [7]:
mean_age_of_survived = survived_data.Age.mean()

In [8]:
mean_age_of_non_survived = not_survived_data.Age.mean()

In [9]:
def fillAgeNan(dataa):
    if dataa.Survived == 1:
        return mean_age_of_survived
    else:
        return mean_age_of_non_survived

In [10]:
titanic_data.loc[titanic_data.Survived==1] = titanic_data.fillna(mean_age_of_survived)
titanic_data.loc[titanic_data.Survived==0] = titanic_data.fillna(mean_age_of_non_survived)

In [11]:
titanic_data.drop(["Name"], axis=1, inplace=True)

In [12]:
def changeAge(age):
    return int(age)

In [13]:
titanic_data["Age"] = titanic_data.Age.apply(changeAge)

In [14]:
def changeEmbarked(em):
    if em=="Q":
        return 0
    elif em=="C":
        return 1
    else:
        return 2

In [15]:
def changeSex(sex):
    if(sex=="female"):
        return 0
    else:
        return 1

In [16]:
titanic_data["Embarked"] = titanic_data.Embarked.apply(changeEmbarked)
titanic_data["Sex"] = titanic_data.Sex.apply(changeSex)

In [17]:
array_data = titanic_data.values
x_train = array_data[:, 0:7]
y_train = array_data[:, 7]

In [18]:
from sklearn.linear_model import LogisticRegression
alg1 = LogisticRegression()

In [19]:
alg1.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [20]:
x_test = pd.read_csv(r"C:\Users\HP\Coding_Ninjas_ML\DataSets\for_logistic_reg_project_test_titanic_x_test.csv")

In [21]:
def doCleaning(testing_data):
    testing_data.drop(["Name"], axis=1, inplace=True)
    testing_data.drop(["Cabin"], axis=1, inplace=True)
    testing_data.drop(["Ticket"], axis=1, inplace=True)
    
    testing_data.Embarked.fillna(value='S', inplace=True)
    
    """survived_data = testing_data[testing_data.Survived == 1]
    not_survived_data = testing_data[testing_data.Survived == 0]
    
    mean_age_of_survived = survived_data.Age.mean()
    mean_age_of_non_survived = not_survived_data.Age.mean()"""
    
    testing_data.loc[titanic_data.Survived==1] = testing_data.fillna(mean_age_of_survived)
    testing_data.loc[titanic_data.Survived==0] = testing_data.fillna(mean_age_of_non_survived)
    
    testing_data["Age"] = testing_data.Age.apply(changeAge)
    testing_data["Sex"] = testing_data.Sex.apply(changeSex)
    testing_data["Embarked"] = testing_data.Embarked.apply(changeEmbarked)
    return testing_data

In [22]:
x_test = doCleaning(x_test)

In [23]:
result = alg1.predict(x_test)
np.savetxt("testing_result.csv", result, delimiter=",")