In [169]:
import pandas as pd
from sklearn import datasets
import numpy as np
from sklearn import preprocessing

In [170]:
#titanic_data = np.loadtxt(r"C:\Users\HP\Coding_Ninjas_ML\DataSets\for_logistic_reg_project_training_titanic_x_y_train.csv", delimiter=",")
titanic_data = pd.read_csv(r"C:\Users\HP\Coding_Ninjas_ML\DataSets\for_logistic_reg_project_training_titanic_x_y_train.csv")

In [171]:
titanic_data.drop(["Cabin"], inplace=True, axis=1)
titanic_data.drop(["Ticket"], inplace=True, axis=1)

In [172]:
titanic_data.Embarked.fillna(value='Q', inplace=True)

In [173]:
survived_data = titanic_data[titanic_data.Survived == 1]

In [174]:
not_survived_data = titanic_data[titanic_data.Survived == 0]

In [175]:
mean_age_of_survived = survived_data.Age.mean()

In [176]:
mean_age_of_non_survived = not_survived_data.Age.mean()

In [177]:
titanic_data.loc[titanic_data.Survived==1] = titanic_data.fillna(mean_age_of_survived)
titanic_data.loc[titanic_data.Survived==0] = titanic_data.fillna(mean_age_of_non_survived)

In [178]:
titanic_data.drop(["Name"], axis=1, inplace=True)
"""titanic_data.drop(["Fare"], axis=1, inplace=True)
titanic_data.drop(["Embarked"], axis=1, inplace=True)
titanic_data.drop(["SibSp"], axis=1, inplace=True)
titanic_data.drop(["Parch"], axis=1, inplace=True)
titanic_data.drop(["Pclass"], axis=1, inplace=True)"""

'titanic_data.drop(["Fare"], axis=1, inplace=True)\ntitanic_data.drop(["Embarked"], axis=1, inplace=True)\ntitanic_data.drop(["SibSp"], axis=1, inplace=True)\ntitanic_data.drop(["Parch"], axis=1, inplace=True)\ntitanic_data.drop(["Pclass"], axis=1, inplace=True)'

In [179]:
def changeAge(age):
    return int(age)
titanic_data.head()

   Pclass     Sex        Age  SibSp  Parch    Fare Embarked  Survived
0       2  female  29.000000      1      0  26.000        S         1
1       3    male  30.857143      0      0   8.050        S         0
2       2    male  39.000000      0      0  26.000        S         0
3       3  female  29.000000      0      4  21.075        S         0
4       3    male  25.000000      0      0   7.050        S         0

In [180]:
titanic_data["Age"] = titanic_data.Age.apply(changeAge)

In [181]:
def changeEmbarked(em):
    if em=="S":
        return 0
    elif em=="C":
        return -1
    else:
        return 1

In [182]:
def changeSex(sex):
    if(sex=="female"):
        return 1
    else:
        return -1

In [183]:
titanic_data["Embarked"] = titanic_data.Embarked.apply(changeEmbarked)
titanic_data["Sex"] = titanic_data.Sex.apply(changeSex)

In [184]:
array_data = titanic_data.values
x_train = array_data[:, 0:7]


scaler = preprocessing.StandardScaler()
scaler.fit(x_train)
x_train = scaler.transform(x_train)


y_train = array_data[:, 7]

In [185]:
from sklearn.linear_model import LogisticRegression
alg1 = LogisticRegression()

In [186]:
alg1.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [187]:
x_test = pd.read_csv(r"C:\Users\HP\Coding_Ninjas_ML\DataSets\for_logistic_reg_project_test_titanic_x_test.csv")

In [188]:
def doCleaning(testing_data):
    testing_data.drop(["Name"], axis=1, inplace=True)
    testing_data.drop(["Cabin"], axis=1, inplace=True)
    testing_data.drop(["Ticket"], axis=1, inplace=True)
    """testing_data.drop(["Fare"], axis=1, inplace=True)
    testing_data.drop(["SibSp"], axis=1, inplace=True)
    testing_data.drop(["Parch"], axis=1, inplace=True)
    testing_data.drop(["Embarked"], axis=1, inplace=True)
    testing_data.drop(["Pclass"], axis=1, inplace=True)"""
    
    testing_data.Embarked.fillna(value='Q', inplace=True)
    
    """survived_data = testing_data[testing_data.Survived == 1]
    not_survived_data = testing_data[testing_data.Survived == 0]
    
    mean_age_of_survived = survived_data.Age.mean()
    mean_age_of_non_survived = not_survived_data.Age.mean()"""
    
    """testing_data.loc[titanic_data.Survived==1] = testing_data.fillna(mean_age_of_survived)
    testing_data.loc[titanic_data.Survived==0] = testing_data.fillna(mean_age_of_non_survived)"""
    
    testing_data.Age.fillna(value=((mean_age_of_non_survived+mean_age_of_survived)/2), inplace=True)
    
    
    testing_data["Age"] = testing_data.Age.apply(changeAge)
    testing_data["Sex"] = testing_data.Sex.apply(changeSex)
    testing_data["Embarked"] = testing_data.Embarked.apply(changeEmbarked)
    testing_data = testing_data.values
    #testing_data = scaler.transform(testing_data)
    return testing_data

In [189]:
x_test = doCleaning(x_test)

In [190]:
print(alg1.score(x_train, y_train))

result = alg1.predict(x_test)

"""res_df = pd.DataFrame(result)
res_df.columns = ["predictions"]
res_df.head()

res_df["predictions"] = res_df.predictions.apply(changeAge)
res_df.head()
result = res_df.values
#result = result.ravel()"""
result = result.astype(int)
np.savetxt("Md_13_log_reg_on_titanic_result.csv", result, delimiter=",", fmt="%1d")

0.7874251497005988