In [1]:
import pandas as pd
from sklearn import datasets
import numpy as np

In [2]:
titanic_data = pd.read_csv(r"C:\Users\HP\Coding_Ninjas_ML\DataSets\for_logistic_reg_project_training_titanic_x_y_train.csv")

In [3]:
titanic_data.drop(["Cabin"], inplace=True, axis=1)
titanic_data.drop(["Ticket"], inplace=True, axis=1)

In [4]:
titanic_data.Embarked.fillna(value='Q', inplace=True)

In [5]:
survived_data = titanic_data[titanic_data.Survived == 1]

In [6]:
not_survived_data = titanic_data[titanic_data.Survived == 0]

In [7]:
mean_age_of_survived = survived_data.Age.mean()

In [8]:
mean_age_of_non_survived = not_survived_data.Age.mean()

In [9]:
titanic_data.loc[titanic_data.Survived==1] = titanic_data.fillna(mean_age_of_survived)
titanic_data.loc[titanic_data.Survived==0] = titanic_data.fillna(mean_age_of_non_survived)

In [10]:
titanic_data.drop(["Name"], axis=1, inplace=True)

In [11]:
def changeAge(age):
    return int(age)
titanic_data.head()

   Pclass     Sex        Age  SibSp  Parch    Fare Embarked  Survived
0       2  female  29.000000      1      0  26.000        S         1
1       3    male  30.857143      0      0   8.050        S         0
2       2    male  39.000000      0      0  26.000        S         0
3       3  female  29.000000      0      4  21.075        S         0
4       3    male  25.000000      0      0   7.050        S         0

In [12]:
titanic_data["Age"] = titanic_data.Age.apply(changeAge)

In [13]:
def changeEmbarked(em):
    if em=="S":
        return 0
    elif em=="C":
        return -1
    else:
        return 1

In [14]:
def changeSex(sex):
    if(sex=="female"):
        return 1
    else:
        return -1

In [20]:
titanic_data["Embarked"] = titanic_data.Embarked.apply(changeEmbarked)
titanic_data["Sex"] = titanic_data.Sex.apply(changeSex)

In [ ]:
##NOW THE DATA IS CLEANED
#now we apply decision tree and random tree

In [17]:
x_test = pd.read_csv(r"C:\Users\HP\Coding_Ninjas_ML\DataSets\for_logistic_reg_project_test_titanic_x_test.csv")

In [18]:
def doCleaning(testing_data):
    testing_data.drop(["Name"], axis=1, inplace=True)
    testing_data.drop(["Cabin"], axis=1, inplace=True)
    testing_data.drop(["Ticket"], axis=1, inplace=True)
    
    testing_data.Embarked.fillna(value='Q', inplace=True)
    
    testing_data.Age.fillna(value=((mean_age_of_non_survived+mean_age_of_survived)/2), inplace=True)
    
    
    testing_data["Age"] = testing_data.Age.apply(changeAge)
    testing_data["Sex"] = testing_data.Sex.apply(changeSex)
    testing_data["Embarked"] = testing_data.Embarked.apply(changeEmbarked)
    testing_data = testing_data.values
    
    return testing_data

In [19]:
x_test = doCleaning(x_test)